.TeacherLessons {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    direction: rtl;
    background-color: #001f3f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f0f0f0;
  }
