/* Desktop - 1 */

position: relative;
width: 1440px;
height: 1685px;

background: #FFFFFF;


/* Rectangle 1 */

position: absolute;
width: 1440px;
height: 106px;
left: 0px;
top: 0px;

background: #B7DCFF;


/* Rectangle 23 */

position: absolute;
width: 1440px;
height: 424px;
left: 0px;
top: 1261px;

background: #B7DCFF;


/* جمعية الإتقان */

position: absolute;
width: 66px;
height: 30px;
left: 1135px;
top: 51px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
text-align: center;

color: #000000;



/* logo 1 */

position: absolute;
width: 82px;
height: 102px;
left: 1348px;
top: 4px;

background: url(logo.png);


/* logo 2 */

position: absolute;
width: 271px;
height: 273px;
left: 1081px;
top: 1311px;

background: url(logo.png);


/* location_on

destination, direction, location, maps, on, pin, place, room, stop
*/

position: absolute;
width: 47px;
height: 47px;
left: 1201px;
top: 37px;



/* icon */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 8.33%;
bottom: 8.33%;

/* M3/sys/light/on-surface */
background: #1D1B20;


/* Mail

Keywords: email, message
*/

position: absolute;
width: 48px;
height: 48px;
left: 987px;
top: 36px;



/* Icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 16.67%;
bottom: 16.67%;

border: 4px solid #1E1E1E;


/* Mail

Keywords: email, message
*/

position: absolute;
width: 38px;
height: 38px;
left: 388px;
top: 1588px;



/* Icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 16.67%;
bottom: 16.67%;

border: 4px solid #1E1E1E;


/* للتواصل معنا عبر البريد الإلكتروني ahakiem61@gmail.com */

position: absolute;
width: 159px;
height: 30px;
left: 808px;
top: 48px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
text-align: center;

color: #000000;



/* للتواصل معنا عبر الهاتف 0505819644 */

position: absolute;
width: 117px;
height: 30px;
left: 490px;
top: 48px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
text-align: center;

color: #000000;



/* Phone call

Keywords: ring
*/

position: absolute;
width: 48px;
height: 48px;
left: 623px;
top: 42px;



/* Icon */

position: absolute;
left: 8.8%;
right: 4.17%;
top: 4.17%;
bottom: 8.63%;

border: 4px solid #1E1E1E;


/* Phone call

Keywords: ring
*/

position: absolute;
width: 38px;
height: 38px;
left: 128px;
top: 1587px;



/* Icon */

position: absolute;
left: 8.8%;
right: 4.17%;
top: 4.17%;
bottom: 8.63%;

border: 4px solid #1E1E1E;


/* Facebook

Keywords: logo, social
*/

position: absolute;
width: 38px;
height: 29px;
left: 185px;
top: 44px;



/* Icon */

position: absolute;
left: 29.17%;
right: 25%;
top: 8.33%;
bottom: 8.33%;

border: 4px solid #1E1E1E;


/* Facebook

Keywords: logo, social
*/

position: absolute;
width: 38px;
height: 38px;
left: 217px;
top: 1588px;



/* Icon */

position: absolute;
left: 29.17%;
right: 25%;
top: 8.33%;
bottom: 8.33%;

border: 4px solid #1E1E1E;


/* Instagram

Keywords: logo, camera
*/

position: absolute;
width: 31px;
height: 29px;
left: 253px;
top: 44px;



/* Icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 4px solid #1E1E1E;


/* Instagram

Keywords: logo, camera
*/

position: absolute;
width: 38px;
height: 38px;
left: 301px;
top: 1588px;



/* Icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 4px solid #1E1E1E;


/* User

Keywords: person, account
*/

position: absolute;
width: 87px;
height: 48px;
left: 9px;
top: 36px;



/* Icon */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 12.5%;
bottom: 12.5%;

border: 4px solid #1E1E1E;


/* Rectangle 2 */

position: absolute;
width: 1440px;
height: 122px;
left: 0px;
top: 106px;

background: #FFEDED;


/* Rectangle 18 */

position: absolute;
width: 1440px;
height: 489px;
left: 0px;
top: 772px;

background: #FFEDED;


/* Rectangle 3 */

position: absolute;
width: 121px;
height: 121px;
left: 1268px;
top: 107px;

background: #FFEDED;


/* Rectangle 4 */

position: absolute;
width: 121px;
height: 121px;
left: 1267px;
top: 107px;

background: #FFEDED;


/* البيت */

position: absolute;
width: 73px;
height: 44px;
left: 1313px;
top: 144px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;
text-align: center;

color: #000000;



/* Chevron down

Keywords: expand
*/

position: absolute;
width: 33px;
height: 27px;
left: 1280px;
top: 151px;



/* Icon */

position: absolute;
left: 25%;
right: 25%;
top: 37.5%;
bottom: 37.5%;

border: 4px solid #1E1E1E;


/* Rectangle 6 */

position: absolute;
width: 172px;
height: 121px;
left: 1268px;
top: 108px;

background: #FFEDED;


/* البيت */

position: absolute;
width: 73px;
height: 44px;
left: 1313px;
top: 145px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;
text-align: center;

color: #000000;



/* Chevron down

Keywords: expand
*/

position: absolute;
width: 33px;
height: 27px;
left: 1280px;
top: 152px;



/* Icon */

position: absolute;
left: 25%;
right: 25%;
top: 37.5%;
bottom: 37.5%;

border: 4px solid #1E1E1E;


/* Rectangle 11 */

position: absolute;
width: 121px;
height: 121px;
left: 951px;
top: 107px;

background: #FFEDED;


/* Rectangle 12 */

position: absolute;
width: 121px;
height: 121px;
left: 950px;
top: 107px;

background: #FFEDED;


/* البيت */

position: absolute;
width: 73px;
height: 44px;
left: 996px;
top: 144px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;
text-align: center;

color: #000000;



/* Chevron down

Keywords: expand
*/

position: absolute;
width: 33px;
height: 27px;
left: 963px;
top: 151px;



/* Icon */

position: absolute;
left: 25%;
right: 25%;
top: 37.5%;
bottom: 37.5%;

border: 4px solid #1E1E1E;


/* Rectangle 13 */

position: absolute;
width: 196px;
height: 121px;
left: 921px;
top: 108px;

background: #FFEDED;


/* الخدمات */

position: absolute;
width: 98px;
height: 44px;
left: 967px;
top: 145px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;
text-align: center;

color: #000000;



/* Chevron down

Keywords: expand
*/

position: absolute;
width: 33px;
height: 27px;
left: 937px;
top: 152px;



/* Icon */

position: absolute;
left: 25%;
right: 25%;
top: 37.5%;
bottom: 37.5%;

border: 4px solid #1E1E1E;


/* Rectangle 14 */

position: absolute;
width: 121px;
height: 121px;
left: 769px;
top: 107px;

background: #FFEDED;


/* Rectangle 15 */

position: absolute;
width: 121px;
height: 121px;
left: 768px;
top: 107px;

background: #FFEDED;


/* البيت */

position: absolute;
width: 73px;
height: 44px;
left: 814px;
top: 144px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;
text-align: center;

color: #000000;



/* Chevron down

Keywords: expand
*/

position: absolute;
width: 33px;
height: 27px;
left: 781px;
top: 151px;



/* Icon */

position: absolute;
left: 25%;
right: 25%;
top: 37.5%;
bottom: 37.5%;

border: 4px solid #1E1E1E;


/* Rectangle 16 */

position: absolute;
width: 172px;
height: 121px;
left: 749px;
top: 108px;

background: #FFEDED;


/* تواصل معنا */

position: absolute;
width: 119px;
height: 44px;
left: 768px;
top: 145px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;
text-align: center;

color: #000000;



/* Rectangle 8 */

position: absolute;
width: 121px;
height: 121px;
left: 1118px;
top: 107px;

background: #FFEDED;


/* Rectangle 9 */

position: absolute;
width: 121px;
height: 121px;
left: 1117px;
top: 107px;

background: #FFEDED;


/* البيت */

position: absolute;
width: 73px;
height: 44px;
left: 1163px;
top: 144px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;
text-align: center;

color: #000000;



/* Chevron down

Keywords: expand
*/

position: absolute;
width: 33px;
height: 27px;
left: 1130px;
top: 151px;



/* Icon */

position: absolute;
left: 25%;
right: 25%;
top: 37.5%;
bottom: 37.5%;

border: 4px solid #1E1E1E;


/* Rectangle 10 */

position: absolute;
width: 149px;
height: 121px;
left: 1118px;
top: 108px;

background: #FFEDED;


/* من نحن */

position: absolute;
width: 73px;
height: 44px;
left: 1163px;
top: 138px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;
text-align: center;

color: #000000;



/* Chevron down

Keywords: expand
*/

position: absolute;
width: 33px;
height: 27px;
left: 1130px;
top: 152px;



/* Icon */

position: absolute;
left: 25%;
right: 25%;
top: 37.5%;
bottom: 37.5%;

border: 4px solid #1E1E1E;


/* Rectangle 17 */

position: absolute;
width: 1440px;
height: 383px;
left: 0px;
top: 227px;

background: #D9D9D9;


/* 2 */

position: absolute;
width: 691px;
height: 383px;
left: -3px;
top: 227px;

background: url(2.jpg);


/* 1 */

position: absolute;
width: 752px;
height: 381px;
left: 688px;
top: 229px;

background: url(1.jpg);


/* دورات عديدة */

position: absolute;
width: 243px;
height: 58px;
left: 567px;
top: 247px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
/* identical to box height */
text-align: center;

color: #000000;



/* إعداد وتأهيل الجيل حفظا وتجويدا وقراءات */

position: absolute;
width: 331px;
height: 24px;
left: 903px;
top: 710px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;



/* رسالتنا */

position: absolute;
width: 93px;
height: 36px;
left: 1140px;
top: 642px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 36px;
text-align: center;

color: #000000;



/* تواصل معنا */

position: absolute;
width: 150px;
height: 36px;
left: 199px;
top: 1511px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 36px;
text-align: center;

color: #000000;



/* سياسة الخصوصية */

position: absolute;
width: 243px;
height: 36px;
left: 153px;
top: 1349px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 36px;
text-align: center;

color: #000000;



/* شروط الخدمة */

position: absolute;
width: 177px;
height: 36px;
left: 186px;
top: 1420px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 36px;
text-align: center;

color: #000000;



/* تحفيظ وتجويد وبناء تربوي لجميع الأجيال */

position: absolute;
width: 1015px;
height: 70px;
left: 217px;
top: 344px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 60px;
line-height: 70px;
/* identical to box height, or 117% */
text-align: center;

color: #000000;



/* Button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Filled buttons are high-emphasis buttons.
They have the most visual impact after the FAB, and should be used for important, final actions that complete a flow, like &quot;Save&quot;, &quot;Join now&quot;, or &quot;Confirm&quot;.
*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 133px;
height: 40px;
left: 724px;
top: 466px;

/* M3/sys/light/primary */
background: #65558F;
border-radius: 100px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px;
gap: 8px;

width: 133px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* label-text */

width: 85px;
height: 20px;

/* M3/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

/* M3/sys/light/on-primary */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Filled buttons are high-emphasis buttons.
They have the most visual impact after the FAB, and should be used for important, final actions that complete a flow, like &quot;Save&quot;, &quot;Join now&quot;, or &quot;Confirm&quot;.
*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 126px;
height: 40px;
left: 522px;
top: 466px;

/* Vibrant Fills/Vibrant Secondary */
background: linear-gradient(0deg, rgba(61, 61, 61, 0.5), rgba(61, 61, 61, 0.5)), rgba(127, 127, 127, 0.4);
background-blend-mode: overlay, luminosity;
border-radius: 100px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px;
gap: 8px;

width: 126px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* label-text */

width: 59px;
height: 20px;

/* M3/label/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

/* M3/sys/light/on-primary */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* linear-determinate progress indicator

<p>Determinate indicators display how long a process will take. They should be used when the process completion rate can be detected.</p>

<p>Linear Progress Indicator - determinate</p><p>0%</p><p><br></p><p>[GDP / GM3 Design System] 🔍</p>
*/

position: absolute;
width: 121px;
height: 12px;
left: 1126px;
top: 686px;



/* track-and-stop */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 0px 0px 2px;
isolation: isolate;

position: absolute;
height: 12px;
left: 0%;
right: 0%;
top: calc(50% - 12px/2);



/* Track */

width: 119px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
z-index: 0;


/* track */

position: absolute;
height: 4px;
left: 0px;
right: 0px;
top: calc(50% - 4px/2);

/* M3/sys/light/secondary-container */
background: #E8DEF8;
border-radius: 8px;


/* Stop */

position: absolute;
width: 4px;
height: 4px;
right: 0px;
top: calc(50% - 4px/2);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Stop shape */

position: absolute;
width: 4px;
height: 4px;
left: calc(50% - 4px/2);
top: calc(50% - 4px/2);

/* M3/sys/light/primary */
background: #65558F;
border-radius: 26px;


/* ما نقدمه لك */

position: absolute;
width: 155px;
height: 36px;
left: 632px;
top: 808px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 36px;
text-align: center;

color: #000000;



/* linear-determinate progress indicator

<p>Determinate indicators display how long a process will take. They should be used when the process completion rate can be detected.</p>

<p>Linear Progress Indicator - determinate</p><p>0%</p><p><br></p><p>[GDP / GM3 Design System] 🔍</p>
*/

position: absolute;
width: 121px;
height: 12px;
left: 646px;
top: 852px;



/* track-and-stop */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 0px 0px 2px;
isolation: isolate;

position: absolute;
height: 12px;
left: 0%;
right: 0%;
top: calc(50% - 12px/2);



/* Track */

width: 119px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
z-index: 0;


/* track */

position: absolute;
height: 4px;
left: 0px;
right: 0px;
top: calc(50% - 4px/2);

/* M3/sys/light/secondary-container */
background: #E8DEF8;
border-radius: 8px;


/* Stop */

position: absolute;
width: 4px;
height: 4px;
right: 0px;
top: calc(50% - 4px/2);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Stop shape */

position: absolute;
width: 4px;
height: 4px;
left: calc(50% - 4px/2);
top: calc(50% - 4px/2);

/* M3/sys/light/primary */
background: #65558F;
border-radius: 26px;


/* Rectangle 19 */

position: absolute;
width: 428px;
height: 117px;
left: 809px;
top: 888px;

background: #FFFFFF;
border-radius: 30px;


/* Rectangle 21 */

position: absolute;
width: 428px;
height: 117px;
left: 179px;
top: 888px;

background: #FFFFFF;
border-radius: 30px;


/* Rectangle 22 */

position: absolute;
width: 428px;
height: 116px;
left: 179px;
top: 1058px;

background: #FFFFFF;
border-radius: 30px;


/* Rectangle 20 */

position: absolute;
width: 428px;
height: 116px;
left: 809px;
top: 1058px;

background: #FFFFFF;
border-radius: 30px;


/* دراسة مبنية وفق خطة علمية واضحة، يتم التدرج فيها بنظام وآلية مناسب لأغلب أحوال الناس */

position: absolute;
width: 391px;
height: 96px;
left: 825px;
top: 912px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;



/* سرد لعلم القراءات القرآنية بشكل بسيط ومسهل */

position: absolute;
width: 391px;
height: 48px;
left: 825px;
top: 1073px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;



/* سرد لعلم التجويد بأصوله وفروعه بشكل بسيط ومسهل */

position: absolute;
width: 391px;
height: 48px;
left: 194px;
top: 912px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;



/* تحفيظ وبناء جيل متعلم التربية الاسلامية الصحيحة */

position: absolute;
width: 391px;
height: 48px;
left: 194px;
top: 1078px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;

