.TeacherHomePage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    direction: rtl;
  }
  
  .main {
    flex: 1;
    padding: 20px;
    background-color: #003366;
    color: white;
  }
  
  .coursesSection .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .addCourseBtn {
    background-color: #f6c301;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 24px;
  }
  
  .courseCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 40px;
    margin-top: 20px;
  }
  
  .card {
    background-color: #E9FFB6;
    color: #003366;
    border-radius: 40px;
    padding-top: 12px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.6);
    text-decoration: none;
    position: relative;
    overflow: hidden;
  }

  .card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
  }
  
  
  .courseIcon {
    width: 70px;
  }

  .courseData {
    background-color: white;
    color: #003366;
    border-radius: 40px;
    padding: 6px 10px;            
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.6);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;                     
    box-sizing: border-box;
    height: 90px;
  }

  .courseData h4 {
    font-size: 16px;
    margin: 6px 0 2px 0; 
  }
  
  .courseData p {
    font-size: 14px;
    margin: 0;
  }
  
  .generalInfo {
    margin-top: 40px;
  }
  
  .infoCards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .infoCard {
    background-color: white;
    color: #003366;
    border-radius: 12px;
    padding: 20px;
    width: 180px;
    text-align: center;
  }


  .editBtn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    color: #003366;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 4px;
    font-weight: bold;
  }
  
  .saveBtn {
    background-color: #004aad;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
  }
  
  .editInput {
    width: 100%;
    max-width: 90%;       
    padding: 6px 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 12px;
    border: 1px solid #ccc;
    font-family: inherit;
    box-sizing: border-box;
  }
  

  .teacher-footer {
    background-color: #003366;
  }
  